<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/manege_vaccancy">ADD/MANEGE JOB VACANCY</a></td>
  </tr>
  <tr>
    <td><a href="/view_job_request">VIEW JOBS REQUEST</a></td>
  </tr>
  <tr>
    <td><a href="#">SHARE LOCATION</a></td>
  </tr>
  <tr>
    <td><a href="/add_skill_and_vaccancy">ADD FEATURES AND DEATAILS</a></td>
  </tr>
  <tr>
    <td><a href="#">COMMUNICATION PLATFORM</a></td>
  </tr>
  <tr>
    <td><a href="/view_feedbacks">VIEW FEEDBACK</a></td>
  </tr>
  <tr>
    <td><a href="/view_work">VIEW WORKS</a></td>
  </tr>
  <tr>
    <td><a href="/view_request">VIEW REQUEST</a></td>
  </tr>
  <tr>
    <td><a href="/view_job_request">VIEW REQUEST STATUS</a></td>
  </tr>
  <tr>
    <td><a href="#">LOGOUT</a></td>
  </tr>
</table>
</body>
</html>
