<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Untitled Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>


  <table class="table mt-5">
    <tr>

      <th scope="col">employee name </th>
      <th scope="col">E-code</th>
      <th scope="col">Branch</th>
      <th scope="col">employee</th>
      <th scope="col">reason</th>
    </tr>
    <tr>
      <td><form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div></td>


      <td>
      <select class="form-select" aria-label="Disabled select example" >
  <option selected>click</option>
  <option value="1">emp1</option>
  <option value="2">empqq</option>
  <option value="3">xyzz</option>

      </td>

         <!-- <a href="#" class="btn btn-danger">reject</a>
      <a href="#" class="btn btn-primary">accept</a>
      -->
      <td>
      <select class="form-select" aria-label="Disabled select example" >
  <option selected>click</option>
  <option value="1">branch1</option>
  <option value="2">branch2</option>
  <option value="3">branch3</option>
    </td>
        <td>
          A/C


        </td>


        <td>
            <select class="form-select" aria-label="Disabled select example" >
  <option selected>select</option>
  <option value="1">medical</option>
  <option value="2">marriage</option>
  <option value="3">function</option>
        </td>
        <td>
      <a href="#" class="btn btn-primary">submit</a>
      </td>
    </tr>
  </table>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>